# using docker container
sudo: false

language: android

jdk:
  - oraclejdk8

android:
  components:
    # Uncomment the lines below if you want to
    # use the latest revision of Android SDK Tools
    - platform-tools
    - tools

    # The BuildTools version used by your project
    - build-tools-25.0.0

    # The SDK version used to compile your project
    - android-23

    # Specify at least one system image
    # if you need to run emulator(s) during your tests
    - sys-img-armeabi-v7a-android-19

    - extra-android-support
    - extra-android-m2repository

# Emulator Management: Create, Start and Wait
before_script:
  - echo no | android create avd --force -n test -t android-19 --abi armeabi-v7a
  - echo y | android update sdk --no-ui --all --filter "tool,extra-android-m2repository,extra-android-support,extra-google-google_play_services,extra-google-m2repository"
  - echo y | $ANDROID_HOME/tools/bin/sdkmanager "extras;m2repository;com;android;support;constraint;constraint-layout-solver;1.0.2"
  - emulator -avd test -no-skin -no-audio -no-window &
  - android-wait-for-emulator
  - adb shell input keyevent 82 &

script:
  - ./gradlew :library:createDebugAndroidTestCoverageReport --info --stacktrace
  - ./gradlew build
# - ./gradlew connectedAndroidTest  --info

after_success:
  - bash <(curl -s https://codecov.io/bash)